body {
    margin: 0px;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: black;
    font-family: 'Roboto', sans-serif;

}

.navbar-item{
    display: flex;
    border: 1px solid black;
    background-color: black;
    height: 45px;
    flex: 6;
    color: white;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}
.vehicle-item {
    color: white;
	padding-right: 15px;
    background-color: black;
    font-size: 12px;
    font-weight: bold;
   }

.menu-item {
	padding: 15px 0px 0px 5px;
	font-size: 18px;

    background-color: #E7E7E7;
	height: 45px;
	align-items: center;
    /*width: 100px;*/
}


.carousel-tabs {
    display: flex;
    background-color: #3E3E3E;
    justify-content: space-between;
}

.carousel-tab-item.selected {
    background-color: #FEB92C;
}

.carousel-tab-item {
    flex: 1;
    border-right: 1px solid white;
    height: 10px;
}

.carousel-content {
    background-color: black;
}

.carousel-content-image {
    height: 170px;
    background-color: grey;
    /*border: 1px solid grey;*/
}

.carousel-content-info {
    height: 400px;
    /*border: 1px solid yellow;*/
}

.image-gallery {
    display: flex;
    background-color: lightgrey;
    /*height: 1000px;*/
    padding: 20px 0px 20px 20px;
    flex-direction: column;
}

.image-gallery-item {
    /*border: 1px solid black;*/
    /*height: 246px;*/
    /*width: 335px;*/
    padding-bottom: 20px;
    padding-right: 20px;
}

.image-gallery-item-image {
    height: 247px;
    background-color: grey;
}

.image-gallery-item-link {
    height: 18px;
    color: white;
    background-color: black;
    text-align: right;
}

.image-gallery-item-link:hover {
    text-decoration: underline;
}

/*.image-list{
	display: flex;
}*/

.image-list-header {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.image-list {
    display: flex;
    padding: 25px 15px 25px 15px;
}

.image-list-image {
    flex: 1;
    /*width: 100px;*/
    height: 150px;
    border: 1px solid black;
    padding: 10px 0px 10px 16px;
}

/*once enter images into list-image set 
	width: 156px;
	height: 72px;*/

.image-list-info {
    border: 1px solid black;
    flex: 1;
    padding: 10px 16px 10px 0px;
}
.bluebook {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #D1D1D1;
	padding: 0px 20px 0px 20px;
	height: 385px;
}
.bluebook-image{
	
	border: 1px solid black;
	padding: 30px 20px 30px 20px;
	display: block;
}
.bluebook-header{
	font-weight: bold;
	font-size: 26px;
}
.bluebook-link {
	display: flex;
}
.bluebook-link1{
	flex: 1;

}
.contact-us-espanol{
	display: flex;
	height:39px;
	background-color: #212121;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 15px;

}
.contactus{
	flex:3;
	padding-left: 50px;
	color:#838383;
	font-size: 14px;


}
.espanol{
	flex:3;
	color:#838383;

}
.contactus:hover{
	color:white;
}
.espanol:hover{
	color:white;
}
.search-button{
	display: flex;
	height: 83px;
/*	width: 328px;
*/	background-color: #212121;
	padding: 0px 18px 0px 18px;
}
.search-icon-button{
	border: 1px solid black;
	background-color: white;
	text-decoration: none;
	color: black;
	height: 33px;
	/*width: 185px;*/
	padding:0px 10px 0px 30px;
	flex:4;
}
.search-search-button{
	border: 1px solid black;
	background-color: white;
	text-decoration: none;
	color: black;
	height: 33px;
	/*width: 50px;
	
	flex:1;
	*/
	padding:0px 10px 0px 30px;
	justify-content: center;
}
.footer-list{
	display: flex;
	flex-direction: column;
	background-color: black;
	align-items: center;
}
.footer-list-item{
	border-bottom: 1px solid white;
	height: 17px;
	padding: 14px 17px 14px 17px;
	color: white;
	width: 328px;
}