body {

    margin: 0px 0px 10px 0px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: black;
    font-family: 'Roboto-regular', sans-serif;
}

.navbar-padding-left {
    flex: 1;
}

.navbar-logo {
    height: 38px;
}

.navbar-item {
    display: flex;
    color: white;
    padding-left: 20px;
    background-color: black;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding-right: 20px;
}

.fa-map-marker {
    padding-right: 5px;
    color: #7F7F7F;
    font-weight: 20px;
}

.fa-wrench {
    padding-right: 5px;
    color: #7F7F7F;
    font-weight: 20px;
}

.navbar-item-jeep {
    display: inline-flex;
    color: white;
    align-items: center;
    padding-top: 2px;
    padding-left: 10px;
    background-color: black;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.sup {
    position: relative;
    font-size: 70%;
    line-height: 0;
    vertical-align: baseline;
    bottom: -4px;
    color: white;
    padding-right: 3px;
}

.navbar-item i {
    font-size: 1.5em;
    padding-left: 5px;
    font-weight: bold;
}

.navbar-item-left {
    display: flex;
    flex: 4;
}

.navbar-item-right {
    display: inline-flex;
    margin-right: 90px;
}

.carousel-image,
.carousel-image .desktop-only {
    display: flex;
    justify-content: center;
    width: 100%;
    /*height: 50.5%;*/
}

.carousel-content {
    background-size: 100% 100%
    background-repeat: no-repeat;
    
}

.carousel-content-info {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 30px 15px 25px 15px;
    color: white;
    text-align: left;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 150px;
    right: 16px;
    width: 550px;
}

.carousel-content-black img {
    height: 91px;
}

.carousel-disclosure {
    font-family: 'Roboto-regular', sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 30px;
}

.carousel-info {
    font-size: 12px;
    line-height: 17px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.carousel-info .sup {
    position: relative;
    font-size: 70%;
    line-height: 0;
    vertical-align: baseline;
    bottom: -2px;
}

.bubble {
    width: 10px;
    height: 10px;
    background: lightgrey;
    border-radius: 50%;
    color: black;
    font-size: 8px;
    line-height: 8px;
    padding-top: 3px;
    margin-left: 1px;
    display: inline-block;
}

.carousel-info-list {

    line-height: 50px;
    font-size: 40px;
    font-weight: bold;
}

.carousel-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carousel-buttons i {
    padding-left: 10px;
}

.carousel-button-detail {
    font-size: 14px;
    font-family: 'Proxima Nova', sans-serif;
    background-color: #FFBA00;
    color: black;
    border-radius: 2px;
    padding: 14px 30px 12px 25px;
    margin: 10px 6px 0px 6px;
    justify-content: center;
    align-items: center;
}

.carousel-button-detail:hover {
    background-color: #e5a700;
}


.carousel-button-build {
    font-size: 14px;
    font-family: 'Proxima Nova', sans-serif;
    background-color: #636363;
    color: white;
    border-radius: 2px;
    padding: 14px 30px 12px 25px;
    margin: 10px 6px 0px 6px;
    justify-content: center;
    align-items: center;
}

.carousel-button-build:hover {
    background-color: #595959;
}

.image-gallery {
    display: flex;
    background-color: #D1D1D1;
    padding: 20px 0px 20px 20px;
    flex-direction: row;
}

.image-gallery-container {
    display: flex;
    background-color: black;
    justify-content: center;

    
}

.image-gallery-item {
    padding-top: 20px;
    padding-right: 20px;
}

.image-gallery-item-image img {
    width: 345px;
}

.image-gallery-item-link {
    height: 18px;
    color: white;
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 5px;
    text-align: right;
}

.image-gallery-item-link i {
    color: #FEB92C;
    padding-left: 10px;
    align-items: center;
}

.image-gallery-item-link:hover {
    text-decoration: underline;
}
.image-header {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.image-list-header {
    position: static;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 30px;
    line-height: 30px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 5px;
}

.image-list-header .sup {
        position: relative;
        font-size: 70%;
        line-height: 0;
        vertical-align: baseline;
        bottom: -10px;
        color: black;
    }
.image-list-container {
    display: flex;
    background-color: white;
    width: auto;
    flex:1;
    justify-content: center;
    align-items: center;
    height:230px;
    flex-wrap: wrap;
    flex-direction: row;
    }
.image-list {
        /*align-items: center;*/
        /*justify-content: center;*/
        /*display: flex;*/
        /*padding: 10px 0px 10px 10px;*/
        
    }
.image-list-image {
        /*padding-left: 10px;*/
    }
.image-list-image img {
        height: 161px;
        width: 346px;
        
    }


.image-list-info {
        padding: 0px 80px 0px 120px;
    }
.image-list-info-header {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        margin-top: 2px;
        margin-bottom: -1px;
        }


.image-list-info-msrp {
        font-family: 'Roboto', sans-serif;
        font-size: 8px;
        color: #A0A0A0;
        margin-bottom: -15px;
    }
    .image-list-info-price {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: bold;
    }
.bluebook {
        flex-direction: column;
        text-align: center;
        background-color: #D1D1D1;
        padding: 0px 20px 0px 20px;
        height: 212px;
    }
.bluebook-image img {
       float: left;
        height: 150px;
        width: 150px;
        padding-left: 400px;
       padding-top: 20px;
    }

.bluebook-header {
        font-weight: bold;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        padding-top: 25px;
    }

.bluebook-link {
        display: flex;
        height: 83px;
    }

.bluebook-link:hover {
        text-decoration: underline;
        font-size: 14px;
    }

.bluebook-link1 {
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
       
        padding-right: 5px;
        justify-content: flex-start;
        font-weight: bold;
    }

.bluebook-link2 {
        color: #F8BC41;
        font-weight: normal;
    }

.bluebook-paragraph {
        /*padding-bottom: 10px;*/
        text-align: left;
        font-size: 14px;
        width: 1000px;


    }
 .list .list-items {
        list-style-type: none;
        display: flex;
        background-color: #212121;


    }
    .additional {
        background-color: #212121;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .additional-items {
        display: flex;
        padding-left: 30px;
        /*padding-top: 30px;*/
        /*height: 39px;*/
        /*justify-content: space-around;*/
        
    }
    .list {
        display: flex;
        /*width: 100%;*/
        justify-content: space-between;
        color: #BFBFBF;
    }
    .list-items, li {
        width: 100%;
        padding-right: 90px;

        /*border: 1px solid red;*/
    }

    .contactus:hover {
        color: white;
    }

    .espanol:hover {
        color: white;
    }

    .search-box {
        align-items: center;
        display: flex;
        height: 83px;
        background-color: #212121;
        padding: 0px 18px 0px 18px;
    }

    .search-text {

        display: flex;
        background-color: white;
        color: black;
        height: 33px;
        padding: 0px 0px 0px 0px;
        flex: 4;
        justify-content: stretch;
    }

    .search-text input {
        flex: 1;
        padding-left: 30px;
    }

    .search-text i {
        position: absolute;
        font-size: 15px;
        font-weight: bold;
        padding-left: 20px;
        transform: rotate(90deg);
        z-index: 2;
    }

    .search-button {
        display: flex;
        border-left: 1px solid #BFBFBF;
        background-color: #FEB92C;
        text-decoration: none;
        color: #000000;
        height: 33px;
        width: 80px;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        line-height: 12px;
        font-family: 'Proxima Nova', sans-serif;
        border-radius: 2px;
    }   
 .footer-container {
        display: flex;
        flex-direction: column;
        background-color: black;
        align-items: center;
        align-items: stretch;
        padding: 35px 18px 0px 18px;
        height: auto;
        color: white;


    }
/*.footer-container-items {
        display: flex;
        flex-direction: column;
        background-color: black;
        align-items: center;
        align-items: stretch;
        padding: 35px 18px 0px 18px;
        height: 820px;
        color: white;
}    */

@media screen and (max-width: 400px) {
    .navbar {
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .navbar-padding-left {
        flex: 1;
    }

    .navbar-logo {
        height: 24px;
        padding-right: 15px;
    }

    .navbar-logo-item {
        display: flex;
        background-color: black;
        margin-right: 110px;
        color: white;
    }


    .navbar-item {
        color: white;
        padding-left: 20px;
        background-color: black;
        font-size: 12px;
        line-height: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        display: inline-flex;
    }

    .navbar-item i {
        font-size: 1.5em;
        padding-left: 10px;
        font-weight: bold;
    }
    .navbar-item-jeep {
        display: none;
    }
    .navbar-item.desktop-only {
        display: none;
    }
    .navbar-item-left {
        display: inline-flex;
        /*padding-left: 50px;*/
    }
    .menu-item {
        display: flex;
        padding: 15px 5px 15px 10px;
        font-size: 12px;
        background-color: #E7E7E7;
        align-items: center;
        width: 60px;
    }
    .navbar-item-right {
        display: inline-flex;
        margin-right: 10px;
    }
    .menu-item i {
        padding-left: 5px;
        text-align: center;
        font-size: 14px;
    }

    .carousel-tabs {
        display: flex;
        background-color: #3E3E3E;
        justify-content: space-between;
    }


    .carousel-tab-item.selected {
        background-color: #FEB92C;
    }

    .carousel-tab-item {
        display: flex;
        flex: 1;
        border-right: 1px solid white;
        height: 10px;
    }

    .carousel-content {
        position: static;
        background-color: black;
    }

    .carousel-image {
        width: 385px;
        height: 155px;
    }

    .carousel-content-image {
        height: 170px;
    }

    .carousel-content-info {
        display: flex;
        justify-content: center;
        padding: 30px 15px 25px 15px;
        color: white;
        text-align: center;
        font-family: 'Proxima Nova', sans-serif;
        font-size: 30px;
        position: static;
        top: 0px;
        right: 0px;
        width: auto;
    }
    .carousel-disclosure {
        display: none;
    }
    .carousel-content-black img {
        height: 65px;
        width: 115px;
    }
    .carousel-content-black img .desktop-only {}
    .carousel-info {
        font-size: 12px;
        height: 17px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .carousel-info .sup {
        position: relative;
        font-size: 70%;
        line-height: 0;
        vertical-align: baseline;
        bottom: -1px;
    }

    .carousel-info-list {
        margin-bottom: 20px;
        line-height: 30px;

        font-size: 30px;
        font-weight: normal;
    }

    .bubble {
        width: 10px;
        height: 10px;
        background: lightgrey;
        border-radius: 50%;
        color: black;
        font-size: 8px;
        line-height: 8px;
        padding-top: 3px;
        margin-left: 1px;
        display: inline-block;
    }

    .carousel-buttons {

        flex-direction: column;
    }


    .image-gallery {


        flex-direction: column;
    }
    .image-gallery-item {
        padding-top: 20px;
    }
    .image-list-header {

        font-size: 18px;
        text-align: center;
    }
    .image-list-container {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }

    .image-list {
        display: flex;
       
        padding: 25px 15px 25px 15px;
        background-color: white;
        border: 1px solid white;
    }

    .image-list-image {
        padding-right: 10px;
    }

    .image-list-image img {
        height: 72px;
    }


    .image-list-info {
        padding: 0px 10px 0px 10px;
    }
    .image-list-info-header {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        margin-top: 2px;
        margin-bottom: -1px;
    }
    .image-list-info-msrp {
        font-family: 'Roboto', sans-serif;
        font-size: 8px;
        color: #A0A0A0;
        margin-bottom: -15px;
    }
    .image-list-info-price {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: bold;
    }
    .bluebook-image img {
       /*float: left;*/
       align-items: center;
        padding-left: 0px;
       padding-top: 0px;

    }
    .bluebook {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #D1D1D1;
        padding: 0px 20px 0px 20px;
        height: 420px;
    }

    .bluebook-image {
        padding: 30px 20px 10px 20px;
        display: block;
    }

    .bluebook-header {
        font-weight: bold;
        font-size: 26px;
        font-family: 'Montserrat', sans-serif;
        padding-top: 0px;
    }

    .bluebook-link {
        display: flex;
        height: 83px;
    }

    .bluebook-link:hover {
        text-decoration: underline;
        font-size: 14px;
    }

    .bluebook-link1 {
        /*display: flex;*/
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
       font-weight: bold;
        
    }

    .bluebook-link2 {
        
        color: #F8BC41;
    }

    .bluebook-paragraph {
        padding-bottom: 25px;
        width: 300px;
    }
    .additional-image img {
        display: none;
    }
    .list-items .desktop-only {
        display: none;
    }
    .list .list-items {
        list-style-type: none;
        display: flex;
        background-color: #212121;


    }
    .additional {
        background-color: #212121;
    }
    .additional-items {
        
        height: 39px;
        
        text-align: left;
    }

    .contactus {
        flex: 3;
        padding-left: 50px;
        color: #BFBFBF;
        font-size: 14px;
        
        justify-content: flex-start;
    }

    .espanol {
        flex: 3;
        color: #BFBFBF;
    }

    .contactus:hover {
        color: white;
    }

    .espanol:hover {
        color: white;
    }

    .search-box {
        display: flex;
        height: 83px;
        background-color: #212121;
        padding: 0px 18px 0px 18px;
    }

    .search-text {

        display: flex;
        background-color: white;
        color: black;
        height: 33px;
        padding: 0px 0px 0px 0px;
        flex: 4;
        justify-content: stretch;
    }

    .search-text input {
        flex: 1;
        padding-left: 30px;
    }

    .search-text i {
        position: absolute;
        font-size: 15px;
        font-weight: bold;
        padding-left: 20px;
        transform: rotate(90deg);
        z-index: 2;
    }

    .search-button {
        display: flex;
        border-left: 1px solid #BFBFBF;
        background-color: #FEB92C;
        text-decoration: none;
        color: #000000;
        height: 33px;
        width: 80px;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        line-height: 12px;
        font-family: 'Proxima Nova', sans-serif;
        border-radius: 2px;
    }

    .footer-container-item {
        display: flex;
        flex-direction: column;
        background-color: black;
        align-items: center;
        align-items: stretch;
        padding: 35px 18px 0px 18px;
        height: 820px;
    }
    .footer-container-items .desktop-only {
            display: none;
    }
    .footer-list-item {
        border-bottom: 1px solid white;
        height: 17px;
        padding: 14px 0px 14px 0px;
        color: white;
        font-size: 12px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    .fa-large {
        font-size: 1.5em;
        float: right;
    }

    .footer-follow-support {
        display: flex;
        color: white;
        padding-top: 37px;
        font-weight: bold;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
    }

    .footer-follow-us {
        flex: 1;
    }

    .footer-support {
        flex: 1;
    }

    .footer-icons {
        display: flex;
        color: white;
        font-size: 2em;
        padding-top: 20px;
        align-items: center;
    }

    .icon-space {
        display: flex;

        margin-right: 5px;
    }
    .footer-icon-uconnect,.icon-space {
        font-size: 1em;
    }
    .footer-line {
        padding-bottom: 30px;
        border-bottom: .07143rem solid hsla(0, 0%, 100%, .22);
    }

    .footer-paragraphs {
        font-size: 10px;
        font-family: 'Roboto', sans-serif;
        color: #bfbfbf;
        padding-top: 60px;
    }
}