body {

    margin: 0px 0px 10px 0px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: black;
    font-family: 'Roboto-regular', sans-serif;
}

.navbar-padding-left {
    flex: 1;
    padding-left: 20px;

}

.navbar-logo {
    height: 38px;
}
.navbar-item {
    display: flex;
    color: white;
    padding-left: 0px;
    background-color: black;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    /*padding-right: 20px;*/
}
.navbar-item.desktop-only {
    display: flex;
    color: white;
    padding-left: 20px;
    background-color: black;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding-right: 20px;
}

.fa-map-marker {
    padding-right: 5px;
    color: #7F7F7F;
    font-weight: 20px;
}

.fa-wrench {
    padding-right: 5px;
    color: #7F7F7F;
    font-weight: 20px;
}

.navbar-item-jeep {
    display: inline-flex;
    color: white;
    align-items: center;
    padding-top: 2px;
    padding-left: 10px;
    background-color: black;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.sup {
    position: relative;
    font-size: 70%;
    line-height: 0;
    vertical-align: baseline;
    bottom: -4px;
    color: white;
    padding-right: 3px;
}

.navbar-item i {
    font-size: 1.5em;
    padding-left: 5px;
    font-weight: bold;
}

.navbar-item-left {
    display: flex;
    flex: 4;
}

.navbar-item-right {
    display: inline-flex;
    margin-right: 90px;

}

.carousel-image,
.carousel-image .desktop-only {
    display: flex;
    justify-content: center;
    width: 100%;
    /*height: 50.5%;*/
}

.carousel-content {
    background-size: 100% 100%
    background-repeat: no-repeat;
    
}

.carousel-content-info {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 30px 15px 25px 15px;
    color: white;
    text-align: left;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 150px;
    right: 16px;
    /*width: 550px;*/
}

.carousel-content-black img {
    height: 91px;
}

.carousel-disclosure {
    font-family: 'Roboto-regular', sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 30px;
}

.carousel-info {
    font-size: 12px;
    line-height: 17px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.carousel-info .sup {
    position: relative;
    font-size: 70%;
    line-height: 0;
    vertical-align: baseline;
    bottom: -2px;
}

.bubble {
    width: 10px;
    height: 10px;
    background: lightgrey;
    border-radius: 50%;
    color: black;
    font-size: 8px;
    line-height: 8px;
    padding-top: 3px;
    margin-left: 1px;
    display: inline-block;
}

.carousel-info-list {

    line-height: 50px;
    font-size: 40px;
    font-weight: bold;
}

.carousel-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carousel-buttons i {
    padding-left: 10px;
}

.carousel-button-detail {
    font-size: 14px;
    font-family: 'Proxima Nova', sans-serif;
    background-color: #FFBA00;
    color: black;
    border-radius: 2px;
    padding: 14px 30px 12px 25px;
    margin: 10px 6px 0px 6px;
    justify-content: center;
    align-items: center;
}

.carousel-button-detail:hover {
    background-color: #e5a700;
}


.carousel-button-build {
    font-size: 14px;
    font-family: 'Proxima Nova', sans-serif;
    background-color: #636363;
    color: white;
    border-radius: 2px;
    padding: 14px 30px 12px 25px;
    margin: 10px 6px 0px 6px;
    justify-content: center;
    align-items: center;
}

.carousel-button-build:hover {
    background-color: #595959;
}

.image-gallery {
    display: flex;
    background-color: #D1D1D1;
    padding: 0px 0px 20px 20px;
    flex-direction: row;
}

.image-gallery-container {
    display: flex;
    background-color: black;
    justify-content: center;

    
}

.image-gallery-item {
    padding-top: 20px;
    padding-right: 20px;
}

.image-gallery-item-image img {
    width: 345px;
}

.image-gallery-item-link {
    height: 18px;
    color: white;
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 5px;
    text-align: right;
}

.image-gallery-item-link i {
    color: #FEB92C;
    padding-left: 10px;
    align-items: center;
}

.image-gallery-item-link:hover {
    text-decoration: underline;
}
.image-header {
    /*height: 562px;*/
    width: 81%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.image-list-header {
    position: static;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 30px;
    line-height: 30px;
    justify-content: center;
    /*margin-top: 50px;
    margin-bottom: 5px;*/
}

.image-list-header .sup {
        position: relative;
        font-size: 70%;
        line-height: 0;
        vertical-align: baseline;
        bottom: -10px;
        color: black;
    }
.background-color {
    /*width: 100%;*/
    display: flex;
    
}    
.image-list-container {
    display: flex;
    background-color: white;
    /*width: 81%;*/
    flex:1;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:  20px;
    /*height: 550px;*/
     
    align-items: flex-start;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    }
.image-list {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 10px 0px 10px 10px;
        flex-basis: 20%;
    }
.image-list-image {
        padding-left: 10px;

    }
.image-list-image img {
        height: 161px;
        width: 346px;

        
    }


.image-list-info {
        padding: 0px 80px 0px 120px;
    }
.image-list-info-header {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        margin-top: 2px;
        margin-bottom: -1px;
        }


.image-list-info-msrp {
        font-family: 'Roboto', sans-serif;
        font-size: 8px;
        color: #A0A0A0;
        margin-bottom: -15px;
    }
.image-list-info-price {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: bold;
    }
.bluebook {
        flex-direction: column;
        text-align: center;
        background-color: #D1D1D1;
        padding: 0px 20px 0px 20px;
        height: 212px;
    }
.bluebook-image img {
       float: left;
        height: 150px;
        width: 150px;
        padding-left: 400px;
       padding-top: 20px;
    }

.bluebook-header {
        font-weight: bold;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        padding-top: 25px;
    }

.bluebook-link {
        display: flex;
        height: 83px;
    }

.bluebook-link:hover {
        text-decoration: underline;
        font-size: 14px;
    }

.bluebook-link1 {
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
       
        padding-right: 5px;
        justify-content: flex-start;
        font-weight: bold;
    }

.bluebook-link2 {
        color: #F8BC41;
        font-weight: normal;
    }

.bluebook-paragraph {
        /*padding-bottom: 10px;*/
        text-align: left;
        font-size: 14px;
        width: 1000px;


    }
.list-items {
        list-style-type: none;
        display: flex;
        background-color: #212121;
        justify-content: space-between;
        
        
    }
.additional {
        background-color: #212121;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
.additional-items {
        display: flex;
        padding-left: 30px;
        /*padding-top: 30px;*/
        /*height: 39px;*/
        /*justify-content: space-around;*/
        
    }
.list {
        display: flex;
        /*width: 100%;*/
        justify-content: space-between;
        color: #BFBFBF; 

    }


.contactus:hover {
        color: white;
    }

.espanol:hover {
        color: white;
    }

.search-box {
        align-items: center;
        display: flex;
        height: 83px;
        background-color: #212121;
        padding: 0px 18px 0px 18px;
    }

.search-text {
        display: flex;
        background-color: white;
        color: black;
        height: 33px;
        padding: 0px 0px 0px 0px;
        flex: 4;
        justify-content: stretch;
    }

.search-text input {
        flex: 1;
        padding-left: 30px;
    }

.search-text i {
        position: absolute;
        font-size: 15px;
        font-weight: bold;
        padding-left: 20px;
        transform: rotate(90deg);
        z-index: 2;
    }
.search-button {
        display: flex;
        border-left: 1px solid #BFBFBF;
        background-color: #FEB92C;
        text-decoration: none;
        color: #000000;
        height: 33px;
        width: 80px;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        line-height: 12px;
        font-family: 'Proxima Nova', sans-serif;
        border-radius: 2px;
    }   
.footer-container {
    display: flex;
    /*flex-direction: column;*/
    background-color: black;
    align-items: center;
    justify-content: center;
    /*padding: 35px 18px 0px 18px;*/
    
    color: white;
    
    /*padding-left: 200px;*/

    }
.footer-container-items {
        /*display: flex;*/
        flex-direction: column;
        background-color: black;
        /*align-items: center;*/
        /*align-items: stretch;*/
        /*padding: 35px 18px 0px 18px;*/
        height: 500px;
        color: white;
        
       margin-top:  25px;
       margin-bottom: -70px;


    }
/*.footer-list-item .mobile-only {
    display: none;
}*/

li  {
    list-style-type: none;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Roboto-regular', sans-serif;
    font-weight: normal;

    }
.footer-list-item {
        
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 12px;
        color: white;
        line-height: 17px;
        padding-bottom: 50px;

    }
.footer-list-item .mobile-only {
    display: none;
}
.fa-large {
        font-size: 1.5em;
        float: right;
    }



.footer-follow-support {
        /*display: flex;*/
        color: white;
        /*padding-top: 37px;*/
        font-weight: bold;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        padding-right: 100px;

        }

.footer-follow-us {
        flex: 1;

    }

.footer-support {
        padding-top: 50px;
        flex: 1;
         padding-bottom: 10px;
    }

.footer-icons {
        display: flex;
        color: white;
        font-size: 2em;
        padding-top: 10px;
        align-items: flex-start;
        
        width: 125px;
        flex-wrap: wrap;
        justify-content: space-between;


    }

.icon-space {
        display: flex;

        margin-right: 5px;
    }
.footer-icon-uconnect,.icon-space {
        font-size: 1em;
    }       
.footer {
    display: flex;
    flex-direction: column;
    height: 300px;
    /*width: 100%;*/
    background-color: black;
    padding-left: 50PX;
    padding-right: 150PX;
}    
.footer-line {
    display: flex;
    padding-bottom: 20px;
    border-bottom: .07143rem solid hsla(0, 0%, 100%, .22)
   
    
}

.footer-images {
    padding-top: 20px;
    color: white;
    display: flex;
    flex-direction: row;
}
.footer-links-right {
    display: flex;
    
    /*align-items: center;*/

    /*flex-direction: row;*/
}
.footer-links-right, li {
    flex-direction: row;
    justify-content: right;
    
}
.footer-images img {
    flex: 6;
    padding-left: 50px;
    width: 55px;
    height: 24px;
}
.footer-paragraphs {
        font-size: 10px;
        font-family: 'Roboto', sans-serif;
        color: #bfbfbf;
        padding-top: 60px;
    }
@media screen and (max-width: 400px) {
    .navbar {
        height: 45px;
       align-items: center;

    }
    
    .navbar-logo {
        height: 24px;
        padding-right: 15px;
    }

    .navbar-logo-item {
        display: flex;
        background-color: black;
        margin-right: 60px;
        color: white;
    }


    .navbar-item {
        padding-left: 20px;
        font-size: 12px;
        line-height: 20px;
        display: inline-flex;
    }

    .navbar-item i {
        font-size: 1.5em;
        padding-left: 10px;
        font-weight: bold;
    }
    .navbar-item-jeep {
        display: none;
    }
    .navbar-item.desktop-only {
        display: none;
    }
    .navbar-item-left {
        display: inline-flex;
       
    }
    .menu-item {
        display: flex;
        padding: 15px 5px 15px 10px;
        font-size: 12px;
        background-color: #E7E7E7;
        align-items: center;
        width: 60px;
    }
    .navbar-item-right {
        display: inline-flex;
        margin-right: 10px;
    }
    .menu-item i {
        padding-left: 5px;
        text-align: center;
        font-size: 14px;
    }

    .carousel-tabs {
        display: flex;
        background-color: #3E3E3E;
        justify-content: space-between;
    }


    .carousel-tab-item.selected {
        background-color: #FEB92C;
    }

    .carousel-tab-item {
        display: flex;
        flex: 1;
        border-right: 1px solid white;
        height: 10px;
    }

    .carousel-content {
        position: static;
        background-color: black;
    }

    .carousel-image {
        width: 385px;
        height: 155px;
    }

    .carousel-content-image {
        height: 170px;
    }

    .carousel-content-info {
        justify-content: center;
        text-align: center;
        position: static;
        top: 0px;
        right: 0px;
        width: auto;
    }
    .carousel-disclosure {
        display: none;
    }
    .carousel-content-black img {
        height: 65px;
        width: 115px;
    }
    
    .carousel-info {
        font-size: 12px;
        height: 17px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .carousel-info .sup {
        
        bottom: -1px;
    }

    .carousel-info-list {
        margin-bottom: 20px;
        line-height: 30px;

        font-size: 30px;
        font-weight: normal;
    }

    .carousel-buttons {

        flex-direction: column;
    }


    .image-gallery {
        flex-direction: column;
    }
    .image-gallery-item {
        padding-top: 20px;


        padding-right: 10px;

    }

    .image-list-header {
        text-align: center;
        line-height: 14px;
        margin-top:25px;
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 18px;
       
    }

    .image-list-header .sup {
        line-height: 14px;
        vertical-align: baseline;
        bottom: -2px;
        padding-right: 2px;
    }
    
    .image-list-container {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: left;
        height:820px;
        margin-left:  -15px;
        
    }
    
    .image-list {
        background-color: white;
        border: 1px solid white;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        padding: 10px 0px 10px 10px;
    }

    .image-list-image {
        padding-right: 10px;
    }

    .image-list-image img {
        height: 73px;
        width: 157px;
        padding-left: 30px;
        padding-bottom: 5px;
    }


    .image-list-info {
        padding: 0px 10px 0px 10px;
    }
    .image-list-info-header {
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: -5px;
    }
    .image-list-info-msrp {
        margin-bottom: -12px;
    }
    .image-list-info-price {
        font-size: 12px;
        
    }
    .bluebook {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #D1D1D1;
        padding: 0px 20px 0px 20px;
        height: 420px;
    }

    .bluebook-image img {
       align-items: center;
        padding-left: 0px;
       padding-top: 0px;
       height: 140px;
       width: 140px;
    }
    

    .bluebook-image {
        padding: 20px 20px 10px 20px;
        display: block;
    }

    .bluebook-header {
        font-weight: bold;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        padding-top: 0px;
        text-align: center;
    }
    

    .bluebook-link1 {
        font-size: 12px;
        padding-right: 100px;
   }

    .bluebook-link2 {
       
        color: #F8BC41;
        text-align: right;
    }

    .bluebook-paragraph {
        padding-bottom: 35px;
        width: 300px;
        font-size: 15px;
        text-align: center;
    }
    .additional-image img {
        display: none;
    }
    .list-items .desktop-only {
        display: none;
    }

    .list {

        height: 450px;
        /*width: 350px;*/
        
    }
    
    .additional {
        flex-direction: column;
        height: 100px;
    }
    .additional-items {
        height: 39px;
        text-align: left;
    }

    .contactus {
        flex: 3;
        color: #BFBFBF;
        font-size: 14px;
       
    }

    .espanol {
        flex: 3;
        color: #BFBFBF;
        font-size: 14px;
    }

   

    .search-box {
         padding: 0px 18px 25px 18px;
    }

    .search-text {

        display: flex;
        background-color: white;
        color: black;
        height: 33px;
        padding: 0px 0px 0px 0px;
        flex: 4;
        justify-content: stretch;
    }

    .search-text input {
        flex: 1;
        padding-left: 30px;
    }

    .search-text i {
        position: absolute;
        font-size: 15px;
        font-weight: bold;
        padding-left: 20px;
        transform: rotate(90deg);
        z-index: 2;
    }

 
    .footer-container {
       align-items: stretch;
       flex-direction: column;
       
       
    }
    .footer-container-item {
        display: flex;
        flex-direction: column;
        background-color: black;
        align-items: center;
        align-items: stretch;
        padding: 35px 18px 0px 18px;
        height: 0px;
        color: white;

    }
    
    .footer-list-item {
        border-bottom: 1px solid white;
        height: 17px;
        padding: 14px 0px 14px 0px;
        flex: 1;
        
    }
    .footer-list-item .mobile-only {
        display: flex;
    }
   .footer-container-items {
        /*display: flex;*/
        /*flex-direction: column;
        background-color: black;
        align-items: center;
        align-items: stretch;*/
        padding: 10px 20px 0px 20px;
        height: auto;
        /*color: white;*/
        
       margin-top:  0px;
       margin-bottom: 0px;
       align-items:  stretch;
       


    }
   
    .footer-follow-support {
        /*display: flex;*/
        /*flex-direction: row;*/
        padding-top: 37px;
    }
    .footer-support {
       
    }
    .footer-support, .footer-icon-uconnect {
      
    }
    .fa-large {
        font-size: 1.5em;
        float: right;
    }
    
    .footer-icons {
        padding-top: 20px;
        align-items: center;
        /*flex: 1;*/
        /*flex-direction: row;*/
    }

    .footer {
        /*width: auto;*/
        height: auto;
        background-color: black;
    }
   
    .footer-line {
        padding-bottom: 30px;
        border-bottom: .07143rem solid hsla(0, 0%, 100%, .22);
    }
    .footer-images,.desktop-only {
        display: none;
    }
    .footer-paragraphs {
        /*width: 250px;*/
        height: auto;

        
    }
}